<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <title>{{name}}</title>
  </head>
  <body>
    <div class="background-div"></div>
    <h2>{{name}}</h2>
    <div class="sensor_data_div"></div>
    <div class="date_div"></div>
    <form class="submit_form">
      <input type="submit" value="submit" />
    </form>
    <form class="refresh_form">
      <input type="submit" value="refresh" />
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
